<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/HomeStyle.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/charity_icon_138782.ico" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./nav.ejs') %>
    <h1 id="head2">Wildlife : Resurrection</h1>
    <div class="page-content">
      <section id="section1">
        <div id="div1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed
          consequatur maiores quisquam? Minima, delectus. Blanditiis libero quia
          nisi esse vel. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Maiores explicabo ipsum ea voluptas architecto tempore iusto assumenda
          mollitia! Soluta, voluptatum! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Consectetur cupiditate magni voluptatem vitae
          dignissimos voluptas ut vero? Est, explicabo aut. Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. A, unde? Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Sed consequatur maiores quisquam? Minima,
          delectus. Blanditiis libero quia nisi esse vel. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Maiores explicabo ipsum ea voluptas
          architecto tempore iusto assumenda mollitia! Soluta, voluptatum! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          cupiditate magni voluptatem vitae dignissimos voluptas ut vero? Est,
          explicabo aut. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          A, unde?
        </div>
      </section>
      <section id="section2">
        <div id="div2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
          blanditiis atque vel officia id quia at accusamus totam nisi esse! Lorem
          ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, quod
          minus numquam voluptate necessitatibus voluptatibus tempore et maiores
          soluta dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Dicta suscipit necessitatibus quaerat ad natus doloremque, iste ullam
          voluptate magnam velit? Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Et, inventore! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Sed consequatur maiores quisquam? Minima, delectus.
          Blanditiis libero quia nisi esse vel. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Maiores explicabo ipsum ea voluptas
          architecto tempore iusto assumenda mollitia! Soluta, voluptatum! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          cupiditate magni voluptatem vitae dignissimos voluptas ut vero? Est,
          explicabo aut. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          A, unde?
        </div>
      </section>
    </section>
    <section id="section3">
      <div id="div3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        blanditiis atque vel officia id quia at accusamus totam nisi esse! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, quod
        minus numquam voluptate necessitatibus voluptatibus tempore et maiores
        soluta dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dicta suscipit necessitatibus quaerat ad natus doloremque, iste ullam
        voluptate magnam velit? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Et, inventore! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Sed consequatur maiores quisquam? Minima, delectus.
        Blanditiis libero quia nisi esse vel. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Maiores explicabo ipsum ea voluptas
        architecto tempore iusto assumenda mollitia! Soluta, voluptatum! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        cupiditate magni voluptatem vitae dignissimos voluptas ut vero? Est,
        explicabo aut. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        A, unde?
      </div>
    </section>
    <section id="section4">
      <div id="div4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        blanditiis atque vel officia id quia at accusamus totam nisi esse! Lorem
        ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, quod
        minus numquam voluptate necessitatibus voluptatibus tempore et maiores
        soluta dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dicta suscipit necessitatibus quaerat ad natus doloremque, iste ullam
        voluptate magnam velit? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Et, inventore! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Sed consequatur maiores quisquam? Minima, delectus.
        Blanditiis libero quia nisi esse vel. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Maiores explicabo ipsum ea voluptas
        architecto tempore iusto assumenda mollitia! Soluta, voluptatum! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        cupiditate magni voluptatem vitae dignissimos voluptas ut vero? Est,
        explicabo aut. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        A, unde?
      </div>
    </section>
    </div>
  </body>
  <script defer src="/HomeApp.js"></script>
</html>
