<h1 class="head1">
  <img
    class="nav-lines"
    src="/1904665-bar-lines-list-menu-nav-navigation-options_122515.ico"
    alt="navigator"
  />

  <div id="nav-div">
    <a href="/"><img src="/home_icon-icons.com_73532.ico" alt="home" />Home</a>
    <a href="/Signup"><img src="/contact_96967.ico" alt="signup" />Signup</a>
    <a href="#"><img src="/charity_icon_138782.ico" alt="support" />Support</a>
  </div>
</h1>
