<!DOCTYPE html>
<html coun="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/charity_icon_138782.ico" />
    <title>Signup</title>
    <link rel="stylesheet" href="/SignupStyle.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="Signup">
    <%- include('./nav.ejs') %>
    <h1 id="head2">Wildlife : Resurrection</h1>
    <div class="page-content">
      <form id="main" action="/Signup" method="POST">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <p>
            Already Registered?
            <a href="/login" style="color: aqua">Click Here</a>
          </p>
          <hr />
          <label for="firstName"><b>First Name:</b><br /></label>
          <input
            type="text"
            placeholder="Enter First Name"
            name="firstName"
            id="firstName"
            required
          />
          <br />
          <label for="lastName"><b>Last Name:</b><br /></label>
          <input
            type="text"
            placeholder="Enter Last Name"
            name="lastName"
            id="lastName"
            required
          />
          <br />
          <label for="email"><b>Email:</b><br /></label>
          <input
            type="email"
            placeholder="Enter Email"
            name="email"
            id="email"
            required
          />
          <br />
          <label for="pass"><b>Password:</b><br /></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="pass"
            id="pass"
            minlength="4"
            required
          />
          <br />
          <label for="passConfirm"><b>Confirm Password:</b><br /></label>
          <input
            type="password"
            placeholder="Confirm Password"
            name="passConfirm"
            id="passConfirm"
            minlength="4"
            required
          />
          <br />
          <label>
            <b>Choose Country:</b><br />
            <select name="country" id="country">
              <option value="India">India</option>
              <option value="USA">USA</option>
              <option value="South Africa">South Africa</option>
              <option value="Australia">Australia</option>
              <option value="Others">Others</option>
            </select>
          </label>
          <br />
          <label>
            <input
              type="checkbox"
              checked="checked"
              name="remember"
              style="margin-bottom: 15px"
            />
            Remember me
          </label>
          <p>
            By creating an account you agree to our
            <a href="#" style="color: aqua">Terms & Privacy</a>.
          </p>
          <div class="btnContainer">
            <button type="submit" id="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
    <script defer src="/SignupApp.js"></script>
  </body>
</html>
